<div id="str" class="ui-tabs-panel ui-widget-content ui-corner-bottom">  
	<ul id="heroes">
		<% @heros.each do |hero| %> 
			<% if hero.category == "Strength" %>
				<li class="str"> 	   
					<%= link_to "", hero_path(hero), :class => "hero-icon #{hero.slug}", :title => hero.name %>
				</li>
			<% end %>
		<% end %>
	</ul>	 
</div>